/* Utility Classes */
.text-center{
text-align:center;
}

.mt-1{
margin-top:10px;
}

.mt-2{
margin-top:20px;
}

.p-1{
padding:10px;
}

.p-2{
padding:20px;
}
.hide-mobile{
display:none;
}

@media(min-width:768px){

.hide-mobile{
display:block;
}

}